@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --colorazuloscuro: #082551;
  --morado: #45056f;
  --claronmorado: #8239b1;
  --rojo: #f31212;
  --amarillo: #d2c616;
  --amarillooscuro: #7e770d;
  --gris: #868686;
}
html {
  font-size: 15px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Changa", sans-serif;
}
body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
}
.title-logo {
  font-size: 20px;
  margin-left: 1.1rem;
  font-weight: bold;
}
.title-logo span {
  font-size: 1.125rem;

  color: var(--rojo);
}
span .t {
  font-size: 1.875rem;
  color: var(--amarillo);
}
.cont-header {
  display: flex;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-izquierda {
  display: flex;
  align-items: center;
}
.nav-head nav li {
  list-style: none;
  margin-left: 1rem;
}
nav li a {
  color: var(--colorazuloscuro);
  text-decoration: none;
}
nav {
  display: flex;
}
.nav-head {
  margin-left: 1rem;
}
.cont-logo-hamburger {
  display: none;
}
.contenido-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont-shop {
  display: flex;
  align-items: center;
}
.button-shop {
  margin-left: 1rem;
}
.alinear_vertical {
  display: flex;
  align-items: center;
}
.bx-cart-alt {
  color: #082551;
  font-size: 2rem;
}
.button-iniciarSesion button {
  background-color: transparent;
  border-style: none;
  color: var(--claronmorado);
  border: 0.1125rem solid var(--morado);
  outline: none;
  border-radius: 4px;
  padding: 0.0625rem 0.625rem;
}
article img {
  width: 100%;
}
.app {
  position: relative;
}
article {
  margin: 5px 0;
}
header {
  background: #ada996; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*MOdal IMG */
.img-modal {
  width: 300px;
}
.modal-img {
  backdrop-filter: blur(2px);
  z-index: 99999;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-modal img {
  object-fit: cover;
  width: 100%;
  border-radius: 0.9375rem;
}
.cont-modal {
  position: relative;
}
.head-modal {
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px 10px;
}
.head-modal button i {
  font-size: 1.875rem;
  color: #fff;
  text-align: center;
}
.head-modal button,
.fav-card button {
  cursor: pointer;
  text-align: center;
  border-style: none;
  padding: 0.0625rem 0.3125rem;
  background: transparent;
}

.cont-flecha {
  z-index: 999;
  position: fixed;
  right: 0.625rem;
  color: #000;
  bottom: 15px;
}
.cont-flecha i {
  font-size: 50px;
}
@media screen and (max-width: 500px) {
  html {
    font-size: 15px;
  }

  .cont-divisor h2 {
    font-size: 1.375rem;
    margin-bottom: 0.1rem;
  }
  .cont-barra form input {
    padding: 0 0.5rem;
    border-style: none;
    border: solid 1px;
    border-radius: 0.5rem;
    font-size: 0.9375rem;
    width: 14.6875rem;
    height: 2rem;
    outline: none;
  }
  .cont-barra form button {
    border-radius: 0.375rem;
    border-style: none;
    border: 1px solid;
    color: #ffff;
    background-color: var(--colorazuloscuro);
    text-align: center;
    align-content: center;
    margin-left: 0.5rem;
    padding: 0.125rem 0.9375rem;
  }
  .button-iniciarSesion button {
    background-color: transparent;
    border-style: none;
    color: var(--claronmorado);
    border: 0.1125rem solid var(--morado);
    outline: none;
    border-radius: 0.25rem;
    padding: 1.5px 0.4375rem;
  }
  span .t {
    color: var(--amarillo);
  }
  .title-logo {
    font-size: 1.125rem;
    margin-left: 1.1rem;
  }

  .cont-logo-hamburger {
    display: flex;
  }

  .bx-menu {
    font-size: 1.75rem;
  }
  .nav-head {
    display: none;
  }
  /*FILTRO*/
  .head-filtro h3,
  .cont-cards-productos h3 {
    font-size: 1.5rem;
    font-weight: 200;
    color: #000;
    font-weight: 500;
  }
  .item-filtro p {
    cursor: pointer;
    border: 1px solid var(--amarillooscuro);
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    margin: 0 4px;
    font-size: 15px;
  }
  .item-filtro p:hover {
    background-color: var(--amarillo);
  }
  .cont-cards-productos {
    margin: 0 0;
  }
  .fix {
    position: fixed;
    display: block;
    position: relative;
  }

  /*Card*/
  .preciocard p {
    font-weight: light;
    margin-bottom: 0.75rem;
  }
  .img-card img {
    width: 100%;
    height: 11.875rem;
    object-fit: cover;
    border-radius: 0.3125rem;
  }
  .cont-card {
    border-radius: 5px;
    margin: 5px 0px 0.9375rem 0px;
    padding-bottom: 15px;
    border: 1px solid var(--gris);
    box-shadow: 0.5px 2px 2.5px 1px var(--gris);
  }
  .img-card {
    width: 170px;
  }
  .contenido-card {
    text-align: center;
    position: relative;
  }
  /*bOTON COMPRAR*/
  .botoncard {
    width: 100%;
  }
  .map-cards {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .bxl-whatsapp {
    font-size: 1.25rem;
  }
  .cont-boton-principal a {
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    background-color: #40c572;
    border-style: none;
    padding: 0.5rem 0.5625rem;
    border-radius: 5px;
    align-content: center;
    color: #ffff;
    font-weight: bold;
  }
  /*Favorite */
  .fav-card {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 5px;
    text-align: center;
    backdrop-filter: blur(2px);
  }
  .fav-card i {
    text-align: center;
    font-size: 25px;
    color: #ffff;
    cursor: pointer;
  }
  .fav-card i:hover {
    color: var(--rojo);
    border-radius: 50%;
    background-color: #fff;
  }
  .title-logo,
  .title-logo span {
    font-size: 28px;
  }
}
